#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &none  &kp L           &kp U           &kp F             &kp MINUS                                                       &kp K        &kp W              &kp R            &kp Y            &none  &none
&kp Q  &kp E  &mt LEFT_WIN I  &mt LEFT_ALT A  &mt LEFT_SHIFT O  &kp COMMA                                                       &kp G        &mt RIGHT_SHIFT T  &mt RIGHT_ALT N  &mt RIGHT_WIN S  &kp H  &kp P
&none  &kp Z  &kp X           &kp C           &kp V             &none                                                           &none        &kp D              &kp M            &kp J            &kp B  &none
&none  &none  &none           &none           &none             &lt 1 BACKSPACE  &mt LEFT_CONTROL ENTER  &mt RIGHT_CONTROL TAB  &lt 2 SPACE  &none              &none            &none            &none  &none
            >;
        };

        lower_layer {
            bindings = <
&none      &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none                     &kp N6     &kp N7    &kp N8     &kp N9          &none            &none
&kp TILDE  &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PERIOD                &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR        &kp RPAR         &kp TILDE
&none      &kp DOLLAR    &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none                     &none      &none     &none      &kp LEFT_BRACE  &kp RIGHT_BRACE  &none
&none      &none         &none         &none         &none         &none       &none  &none  &none      &none     &none      &none           &none            &none
            >;
        };

        raise_layer {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                   &kp F7    &kp F8     &kp F9     &kp F10   &kp F11    &kp F12
&none   &none   &none   &none   &none   &none                    &none     &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &none
&none   &none   &none   &none   &none   &none                    &kp PLUS  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH
&none   &none   &none   &trans  &trans  &mo 3   &trans  &kp DEL  &trans    &trans     &trans     &none     &none      &none
            >;
        };

        bt_layer {
            bindings = <
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                &none  &none  &none  &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none                       &none  &none  &none  &none  &none  &none
&none           &none         &none         &none         &none         &none                       &none  &none  &none  &none  &none  &none
&kp O           &kp M         &kp U         &none         &none         &none         &none  &none  &none  &none  &none  &kp K  &kp E  &kp N
            >;
        };
    };
};
